<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 border border-3 border-success m-4 mx-auto rounded">
      <h2 class="text-decoration-underline text-center">Add Expense</h2>
      <form id="new-expense-form">
        <div class="mb-3 ">
          <label for="expense-name" class="form-label">Expense Name</label>
          <input type="text" class="form-control" id="expense-name">

        </div>
        <div class="mb-3">
          <label for="expense-amount" class="form-label">Amount</label>
          <input type="number" class="form-control" id="expense-amount">
        </div>
        <div class="mb-3 ">
          <label for="expense-description" class="form-label">Expense description</label>
          <input type="text" class="form-control" id="expense-description">

        </div>
        <button type="submit" class="btn btn-success d-grid gap-2 col-6 mx-auto mb-3">Add</button>
      </form>
    </div>

    <div class="col-md-4 border border-3 border-success m-4 mx-auto rounded">
      <h2 class="text-decoration-underline text-center">Add Income</h2>
      <form id="new-Income-form">
        <div class="mb-3 ">
          <label for="Income-name" class="form-label">Income Name</label>
          <input type="text" class="form-control" id="Income-name">

        </div>
        <div class="mb-3">
          <label for="Income-amount" class="form-label">Amount</label>
          <input type="number" class="form-control" id="Income-amount">
        </div>
        <div class="mb-3 ">
          <label for="Income-description" class="form-label">Income description</label>
          <input type="text" class="form-control" id="Income-description">

        </div>
        <button type="submit" class="btn btn-success d-grid gap-2 col-6 mx-auto mb-3">Add</button>
      </form>
    </div>
  </div>


  <div class="container-fluid mt-4">
    <h2 class="text-decoration-underline text-center">OVERALL</h2>
    <div class="row">
      <!-- Expense Cards -->
      {{#if expense.length}}
      {{#each expenses as |expense|}}
      <div class="col-sm-6 mt-3">
        <div class="card d-flex align-items-center justify-content-center bg-danger p-2" style="--bs-bg-opacity: .10;">
          <div class="card-body text-center">
            <h5 id="expense-title" class="card-title">{{expense.name}}</h5>
            <p id="expense-desc" class="card-text">{{expense.description}}</p>
            <p id="expense-amount" class="card-text">$ {{expense.amount}}</p>
            <button id="expense-delete" data-id="{{expense.id}}" class="btn btn-danger">Delete</button>
            <button id="expense-edit" data-id="{{expense.id}}" class="btn btn-success">Edit</button>
          </div>
        </div>
      </div>
      {{/each}}
      {{/if}}
      <!-- income cards -->
      {{#if income.length}}
      {{#each incomes as |income|}}
      <div class="col-sm-6 mt-3">
        <div class="card d-flex align-items-center justify-content-center bg-success p-2" style="--bs-bg-opacity: .10;">
          <div class="card-body text-center">
            <h5 id="income-title" class="card-title">{{income.name}}</h5>
            <p id="income-desc" class="card-text">{{income.description}}</p>
            <p id="income-amount" class="card-text">$ {{income.amount}}</p>
            <button id="income-delete" data-id="{{income.id}}" class="btn btn-danger">Delete</button>
            <button id="income-edit" data-id="{{income.id}}" class="btn btn-success">Edit</button>
          </div>
        </div>
      </div>
      {{/each}}
      {{/if}}
    </div>
  </div>

  <div class="container-fluid">
    <canvas id="myChart"></canvas>
  </div>

</div>

<script src="/js/profile.js"></script>