<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 border border-3 border-success m-4 mx-auto rounded">
      <h2 class="text-decoration-underline text-center">Add Expense</h2>
      <form id="new-expense-form">
        <div class="mb-3 ">
          <label for="expense-name" class="form-label">Expense Name</label>
          <input type="text" class="form-control" id="expense-name">

        </div>
        <div class="mb-3 ">
          <label for="expense-category" class="form-label">Expense category</label>
          <input type="text" class="form-control" id="expense-category">

        </div>
        <div class="mb-3">
          <label for="expense-amount" class="form-label">Amount</label>
          <input type="number" class="form-control" id="expense-amount">
        </div>
        <div class="mb-3 ">
          <label for="expense-description" class="form-label">Expense description</label>
          <input type="text" class="form-control" id="expense-description">

        </div>
        <button type="submit" class="btn btn-success d-grid gap-2 col-6 mx-auto mb-3">Add</button>
      </form>
    </div>

    <div class="col-md-6 mx-auto d-flex flex-column justify-content-center align-items-start">
      <h3>Total:</h3>
    </div>
  </div>
  {{#if expense.length}}
  <div id="expenses-list" class="container-fluid">
    <h3>All Expenses</h3>
    <div class="row">
      {{#each expenses as |expense|}}
      {{!-- content --}}
      <div class="col-sm-3 mt-3">
        <div class="card d-flex align-items-center justify-content-center">
          <div class="card-body text-center">
            <h5 id="expense-title" class="card-title">{{expense.name}}</h5>
            <h6 id="expense-cat" class="card-subtitle mb-2 text-body-secondary">{{expense.category}}</h6>
            <p id="exepense-desc" class="card-text">{{expense.description}}</p>
            <p id="expense-amount" class="card-text">$ {{expense.amount}}</p>
            <button id="expense-delete" data-id="{{expense.id}}" class="btn btn-danger ">Delete</button>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
{{!-- public is being treated as root folder --}}